@use '@/assets/styles/variables'as *;
@import '@/assets/styles/fonts.css';

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow: hidden;
  overflow: clip;
  -webkit-tap-highlight-color: transparent;
}

body {
  color: $black;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 1.5;
}

img {
  vertical-align: middle;
}

a,
button,
select {
  cursor: pointer;
  font-family: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  color: inherit;
}

input {
  font-family: inherit;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}